<html lang="en" ng-app="myApp">
  <head>
    <link rel="stylesheet" href="css/angular-material.min.css">
	<link rel="stylesheet" href="css/cert.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="initial-scale=1" />
  </head>
  <body style="overflow:hidden;" layout="column" ng-controller="certController">
    
    <md-toolbar layout="row" class=" md-tall md-primary md-whiteframe-z3">
      <div layout="row" layout-align="start center" class="md-toolbar-tools" flex>
        <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
          <md-icon md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
        </md-button>
        <div class="white company-name" flex>NWCERT</div>
       </div>
       <div layout="row" ng-if="!ulog" style="margin-right: 5%;" hide-md hide-sm>
         
           <md-menu md-position-mode="target-right target">
            <md-button aria-label="Open phone interactions menu" style="width:100%" ng-click="$mdOpenMenu($event)">
              <div layout="row"  layout-align="end center">
                <div class="white" style="margin-right:6%; font-size : 16px">{{user.fname}}</div>
              <img ng-src="{{user.photo}}" class="md-avatar photo-icon" alt="./images/ic_account_circle_black_48px.svg" />
              <!--  <i md-menu-origin class="material-icons md-48 white">account_circle</i> -->
              </div>
            </md-button>
            <md-menu-content width="3" style="padding:0">
              <md-menu-item>
                <md-button class="md-primary">
                  <span layout="row" layout-align="end center">Profile</span>
                </md-button>
                <md-button class="md-primary">
                  <span layout="row" layout-align="end center" ng-click="logout()">Logout</span>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
       </div>
       <div layout="column" ng-if="ulog">
          <div class="white" layout="row" layout-padding layout-align="end center" flex hide-md hide-sm>
             <md-input-container style="width:35%">
                <label class="white">Email</label>
                <input class="white" style="color: white !important;" ng-model="user.emailid" type="email" ng-init="user.emailid='admin@g.com'">
              </md-input-container>
              <md-input-container style="width:35%">
                <label class="white">Password</label>
                <input class="white" style="color: white !important;" ng-model="user.password" type="password" ng-init="user.password='admin'">
              </md-input-container>
              <md-button class="md-primary" ng-click="login(user)" style="background:white">Login</md-button><br/>
         </div>
            <div layout="column" layout-align="center end" ><md-button class="white" hide-md hide-sm ng-click="showAdvanced('registration')">Signup for NWCERT</md-button><br/></div>
       </div> 
      
    </md-toolbar>
    
    <div layout="row" flex>
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2 md-primary" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
          <md-content layout="column">
             <md-card class="toolbar-item" hide-gt-sm>
              <!-- <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">-->
                <md-card-content>
                  <h2 class="md-title">NWCERT</h2>
                  <div class="md-actions" ng-if="ulog" layout="row" layout-align="end center">
                    <md-button class="md-primary" ng-click="showAdvanced('login')">Login</md-button>
                    <md-button class="md-primary" ng-click="showAdvanced('registration')">Register</md-button>
                  </div>
                   <div layout="row" ng-if="!ulog" style="margin-right: 5%;" hide-gt-sm>
                     <md-menu md-position-mode="target-right target">
                      <md-button aria-label="Open phone interactions menu" style="width:100%" ng-click="$mdOpenMenu($event)">
                        <div layout="row"  layout-align="end center">   
                        <img ng-src="{{user.photo}}" class="md-avatar photo-icon" alt="./images/ic_account_circle_black_48px.svg" />                       
                       <!--  <i md-menu-origin class="material-icons md-48">account_circle</i> -->
                        <div style="margin-right:6%; font-size : 16px">{{user.fname}}</div>
                        </div>
                      </md-button>
                      <md-menu-content width="3" style="padding:0">
                        <md-menu-item>
                          <md-button class="md-primary">
                            <span layout="row" layout-align="end center">Profile</span>
                          </md-button>
                          <md-button class="md-primary">
                            <span layout="row" layout-align="end center">Logout</span>
                          </md-button>
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>
                 </div>
                </md-card-content>
               </md-card>
              <md-button ng-repeat="item in menuitems" ng-click="$root.menuItemHome=true;setitem(item.id)" ng-class="{'md-raised toolbar-item-selected':flag===item.id}" class="toolbar-item md-primary" flex flex-order="1">
                {{item.title}}
              </md-button>
          </md-content>
        </md-sidenav>
        <div layout="column" flex id="content">
            <md-content item="{{item.id}}" ng-repeat="item in menuitems" md-component-id="left" layout="column" flex class="md-padding" ng-if="flag===item.id">
            </md-content>
        </div>
        
    </div>
    <!-- Angular Material Dependencies -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-aria.min.js"></script>
    <script src="js/angular-material.min.js"></script>
    <script src="js/ng-file-upload.min.js"></script>
    <script src="js/ng-file-upload-shim.min.js"></script>
    <script src="js/socket.io.js"></script>
	<script src="js/cert.js"></script>
    <script src='bower_components/lodash/lodash.min.js'></script>
    <script src='bower_components/angular-google-maps/dist/angular-google-maps.min.js'></script>
    <script src='bower_components/angular-simple-logger/dist/index.js'></script>
    <script src="bower_components/bootstrap/dist/css/bootstrap.min.css"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>

  </body>
</html>