.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

.cwindow{
  width: 251px;
  height: 300px;
  border: 1px solid grey;
  margin-left:1%;
}
.cheader{
  padding-bottom: 13px;
  font-size: 17px;
}

/*#525453,c*/

.white{
  color: white !important;
}

md-input-container .md-input, md-input-container{
  color: black !important;
}
.toolbar-item-selected{
  color: white !important;
}

.toolbar-item{
  border-radius: 0px !important;
   margin: 0;
   min-height: 50px;
   font-size: 17px;
}

.company-name{
  font-size: 50px;
  height: 0px;
}

.dialogdemoBasicUsage #popupContainer {
  position: relative; 
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-56 { font-size: 56px; }

/*Animate*/


.animate-enter, 
.animate-leave
{ 
	-webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: clip;
	white-space:nowrap;
} 

.animate-leave.animate-leave-active,
.animate-enter {
	opacity: 0;
	width: 0px;
	height: 0px;
}

.animate-enter.animate-enter-active, 
.animate-leave {
	opacity: 1;
	width: 150px;
	height: 30px;
}

  md-content.autocomplete {
  min-height: 250px; }
  .md-item-text.compact {
  padding-top: 8px;
  padding-bottom: 8px; }
  .contact-item {
  box-sizing: border-box; }
    .contact-item.selected {
    opacity: 0.5; }
      .contact-item.selected h3 {
      opacity: 0.5; }
    .contact-item .md-list-item-text {
    padding: 14px 0; }
      .contact-item .md-list-item-text h3 {
      margin: 0 !important;
      padding: 0;
      line-height: 1.2em !important; }
      .contact-item .md-list-item-text h3,   .contact-item .md-list-item-text p {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
  @media (min-width: 900px) {
      .contact-item {
      float: left;
      width: 33%; } }
  md-contact-chips {
  margin-bottom: 10px; }
  .md-chips {
  padding: 5px 0 8px; }
  .fixedRows {
  height: 240px;
  overflow-y: auto;
  overflow-x: hidden; }

  .drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 10px;
    margin-left: 10px;
}

.preview img{
    max-width: 100px;
    max-height: 100px;
    border-radius: 50px;
}
.photo-icon{
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.selectedPUser{
  background-color: rgba(158,158,158,0.2);
}
.selectedListItem{
  background-color: rgba(158,158,158,0.2);
}
.profile-pic{
  height:240px;
}

.previewStatusImg img{
    max-width: 250px;
    max-height: 250px;
}

.status-photo-icon{
    height: 36px;
    width: 36px;
    border-radius: 50%;
}
.angular-google-map-container {height: 80%}

.fabSpeedDialdemoMoreOptions .md-fab-top-right {
    top: 16px; }
@media only screen and (max-device-width: 600px) {
    .fabSpeedDialdemoMoreOptions .md-fab-top-right {
        top: 9px;
        right: 9px; } }
.fabSpeedDialdemoMoreOptions .md-fab.demo-fab.trigger-fab:hover, .fabSpeedDialdemoMoreOptions .md-fab.demo-fab.trigger-fab.md-focused, .fabSpeedDialdemoMoreOptions .md-fab.demo-fab.action-fab:hover, .fabSpeedDialdemoMoreOptions .md-fab.demo-fab.action-fab.md-focused {
    background-color: #333; }
.fabSpeedDialdemoMoreOptions .md-fab.demo-fab.action-fab {
    background-color: #aaa; }
.fabSpeedDialdemoMoreOptions md-content div[flex="50"] {
    padding: 15px; }
.fabSpeedDialdemoMoreOptions md-fab-speed-dial {
    margin-top: 89px; }
.fabSpeedDialdemoMoreOptions md-fab-speed-dial md-fab-trigger {
    transition: all 0.3s ease-in-out;
    transform: scale(1); }
.fabSpeedDialdemoMoreOptions md-fab-speed-dial.md-scale.ng-hide, .fabSpeedDialdemoMoreOptions md-fab-speed-dial.md-fling.ng-hide {
    display: flex !important; }
.fabSpeedDialdemoMoreOptions md-fab-speed-dial.md-scale.ng-hide md-fab-trigger, .fabSpeedDialdemoMoreOptions md-fab-speed-dial.md-fling.ng-hide md-fab-trigger {
    transform: scale(0); }
.fabSpeedDialdemoMoreOptions .intro {
    padding-left: 5px; }
