<md-content class="md-padding autocomplete" layout="column" ng-if="$root.cgformid==='cgform1'">
<md-input-container >
	<label>Group Name</label>
	<input ng-required ng-model="$root.group.name">
</md-input-container>
</md-content>

<md-content class="md-padding autocomplete" layout="column" ng-if="$root.cgformid==='cgform2'">
	<md-contact-chips
        ng-model="$root.group.members"
        md-contacts="$root.querySearch($query)"
        md-contact-name="fname"
        md-contact-image=""
        md-contact-email="emailid"
        md-require-match
        filter-selected="$root.filterSelected"
        placeholder="Members">
    </md-contact-chips>
    <md-list class="fixedRows" >
      <md-subheader class="md-no-sticky">Users</md-subheader>
      <md-list-item class="md-2-line contact-item" ng-repeat="member in $root.members"
          ng-if="$root.group.members.indexOf(member) < 0">
          <i md-menu-origin class="material-icons md-48 md-avatar">account_circle</i>
        <!--<img ng-src="{{member.image}}" class="md-avatar" alt="{{member.fname}}" />-->
        <div class="md-list-item-text compact">
          <h3>{{member.fname}}</h3>
          <p>{{member.emailid}}</p>
        </div>
      </md-list-item>
      <md-list-item class="md-2-line contact-item selected" ng-repeat="member in $root.members" ng-if="$root.group.members.indexOf(member) >= 0">
        <i md-menu-origin class="material-icons md-48 md-avatar">account_circle</i>
        <!--<img ng-src="{{member.image}}" class="md-avatar" alt="{{member.fname}}" />-->
        <div class="md-list-item-text compact">
          <h3>{{member.fname}}</h3>
          <p>{{member.emailid}}</p>
        </div>
      </md-list-item>
    </md-list>
</md-content>


